
body{
    background-color: #D6BFB7;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-size: large;
    margin-top: 15px;
}

h1 {
  color: #001F26;
  border: 1px solid black;
}

p {
  color:#001F26;
  font-size: 15px;
}


button{
    font-family: monospace, lucida handwriting; 
    font-size: 20px;
    text-align:center;
    margin: 15px, 15px;
  }

#preguntarNumero{
  display: none;
}

.header{
  margin-top: 30px;
}
